html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Junge";
  src: url(../src/fonts/Junge-Regular.ttf);
}
.list_box, .block_5, .first,
.third, .first_second_third, .block_4, .wrap_block_3, .block_3, .wrap_block_2, .block_2, .nav_bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description, .box2, .box1 {
  border-top: 3px solid #7D7878;
  border-bottom: 3px solid #7D7878;
  background: rgba(93, 93, 95, 0);
}

.animate__animated.animate__fadeInUp, .animate__animated.animate__fadeInDown, .animate__animated.animate__fadeInLeft, .animate__animated.animate__fadeInRight {
  --animate-duration: 2s;
}

.srcs, .message_me, .list, .titles, .description, .myworks, .watashio, .who_am_i h1, .box3_text, .bar span {
  color: #1F1F1F;
  text-align: center;
  font-family: Junge;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.srcs span, .message_me span, .skills, .link_to_you, .description span, .myworks span, .watashio span, .who_am_i h1 span, .box3_text span {
  opacity: 0.9;
  color: #C70202;
  font-family: Junge;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.box2, .box1 {
  width: 578px;
  height: 181px;
  flex-shrink: 0;
}

.animate__animated.animate__rotateInDownLeft {
  --animate-duration: 1.5s;
}

.animate__animated.animate__rotateInDownRight {
  --animate-duration: 1.5s;
}

.wrap {
  opacity: 0.8;
  background-image: url("../src/Desktop.png");
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  position: relative;
}

.wrap_block_1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav_bar {
  border-bottom: 2px solid #848484;
  background: rgba(217, 217, 217, 0);
  width: 646px;
  height: 94px;
  flex-shrink: 0;
  margin-left: 10%;
}

.bar {
  width: auto;
  height: auto;
  flex-shrink: 0;
  align-self: center;
  padding: 0px 15px 0px 15px;
}
#barborder {
  border-left: #848484 2px solid;
  border-right: #848484 2px solid;
}

.logo img {
  width: 290px;
  height: 290px;
}

.block_2 {
  margin-top: 145px;
}

.wrap_block_2 {
  align-items: normal;
  position: relative;
  width: 887px;
  height: 207px;
  margin-left: 18%;
}

.box1 {
  position: absolute;
}

.box2 {
  position: absolute;
  margin-top: -29px;
  margin-left: -609px;
}

.box3_text {
  width: 100%;
  position: absolute;
  margin: 25px 305px 15px 0px;
  font-size: 32px;
}
.box3_text .stroke2 {
  margin-left: 15%;
}
.box3_text .stroke3 {
  margin-left: 25%;
}

.block_3 {
  margin-top: 270px;
}

.wrap_block_3 {
  width: 100%;
  height: 666px;
  flex-shrink: 0;
}

.box_border_left {
  width: 483px;
  height: 525px;
  flex-shrink: 0;
  border-left: 4px solid #7D7878;
}

.who_am_i {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.who_am_i h1 {
  padding-top: 105px;
  padding-bottom: 106px;
  font-size: 36px;
}
.watashio {
  line-height: 45px;
  width: 488px;
  padding: 0px 11px 0px 11px;
}
.watashio span {
  font-size: 28px;
}

.box_border_bottom {
  height: 555px;
  position: absolute;
  margin: 43px 0px 0px 21px;
  width: 441px;
  flex-shrink: 0;
  border-bottom: 4px solid #7D7878;
}

.box_border_right {
  width: 483px;
  height: 525px;
  flex-shrink: 0;
  border-right: 4px solid #7D7878;
}

.ava {
  padding: 45px 46px 0px 81px;
}
.ava img {
  border-radius: 20px;
}

.avatarka {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.box_border_up {
  height: 555px;
  position: absolute;
  margin: 0px 43px 21px 0px;
  width: 441px;
  flex-shrink: 0;
  border-top: 4px solid #7D7878;
}

.block_4 {
  margin-top: 250px;
  flex-direction: column;
}

.myworks {
  padding-bottom: 13px;
  font-size: 36px;
}
.myworks span {
  font-size: 36px;
}

.wrap_block_4 {
  width: 657px;
  height: 538px;
  flex-shrink: 0;
  border-top: 3px solid #848484;
}

.first_second_third {
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 100%;
  align-items: flex-end;
}

.first,
.third {
  flex-direction: column;
  width: 246px;
  flex-shrink: 0;
}

.second {
  display: flex;
  align-self: flex-start;
  padding-top: 108px;
}

.description {
  width: 246px;
  height: 147px;
  flex-shrink: 0;
}
.im_tired {
  padding-top: 20px;
}

#more_pad {
  padding-top: 35px;
}

.link_to_you {
  text-align: center;
  width: 100%;
  font-size: 48px;
  height: 100px;
}

.block_5 {
  margin-top: 310px;
  flex-direction: column;
}

.skills {
  font-size: 36px;
}

.wrap_block_5 {
  width: 656px;
  flex-shrink: 0;
  border-top: 3px solid #7D7878;
  margin-bottom: 90px;
}

.two_of_them {
  display: flex;
  flex-direction: column;
}

.titles {
  display: flex;
  justify-content: space-between;
  padding: 39px 29px 0px 29px;
}

.title_box {
  width: 100%;
}

.list {
  display: flex;
  justify-content: center;
  padding: 16px 29px 0px 29px;
}

.list_box {
  width: 182px;
  height: 383px;
  flex-shrink: 0;
  flex-direction: column;
}

#special_borders {
  border-left: 3px solid #7D7878;
  border-right: 3px solid #7D7878;
}

li {
  text-align: center;
  list-style: none;
}

ul {
  line-height: 70px;
  padding: 100%;
}

.footer {
  border-top: 3px solid #7D7878;
  height: 188px;
  align-items: flex-end;
}

.wrap_footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.message_me {
  font-size: 32px;
  display: flex;
  justify-content: space-evenly;
  width: 482px;
}
.message_me img {
  width: 50px;
}

.srcs {
  line-height: 70px;
}
.srcs span {
  font-size: 32px;
}

@media only screen and (max-width: 480px) {
  .body {
    overflow-x: hidden;
  }
  .wrap_block_1 {
    flex-direction: column;
  }
  .nav_bar {
    align-self: center;
    width: 300px;
    margin: auto;
  }
  .bar span {
    font-size: 13pt;
  }
  .box1, .box2 {
    width: 328px;
  }
  .box2 {
    margin-top: -15px;
    margin-left: -209px;
  }
  .box3_text {
    font-size: 14pt;
    margin: 55px 105px 15px 0px;
  }
  .box3_text span {
    font-size: 14pt;
  }
  .wrap_block_3 {
    flex-direction: column;
  }
  .who_am_i {
    font-size: 14pt;
  }
  .who_am_i div, .who_am_i span, .who_am_i h1 {
    font-size: 14pt;
  }
  .titles{
    padding: 39px 29px 0px 0px;
  }
  .ava img {
    visibility: collapse;
  }
  .avatarka {
    visibility: collapse;
  }
  .watashio {
    padding: 0;
  }
  .box_border_bottom {
    border: none;
  }
  .box_border_up {
    margin: 0px 0px 0px -30px;
  }
  .box_border_right {
    border: none;
  }
  .block_4 {
    margin-top: 150px;
  }
  .wrap_block_4 {
    width: 100%;
  }
  .myworks {
    font-size: 16pt;
  }
  .myworks span {
    font-size: 16pt;
  }
  .first_second_third {
    flex-direction: column;
  }
  .first_second_third div {
    font-size: 14pt;
  }
  .first_second_third div span {
    font-size: 14pt;
  }
  .first {
    margin-left: -55px;
  }
  .second {
    padding-left: 50px;
  }
  .third {
    margin-top: 60px;
  }
  .description {
    width: 190px;
    height: 107px;
  }
  .link_to_you span {
    font-size: 20pt;
  }
  .wrap_block_5 {
    width: 100%;
  }
  .list_box {
    width: 131px;
  }
  .two_of_them div {
    font-size: 15pt;
  }
  .footer div {
    font-size: 13pt;
  }
  .footer div span {
    font-size: 13pt;
  }
  .srcs {
    line-height: normal;
  }
  .message_me img {
    width: 40px;
  }
}

/*# sourceMappingURL=output.css.map */
